.wrapper {
  width: 100%;
  height: calc(var(--vh) * 100);
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: var(--font-display);
  font-weight: 700;
  font-size: 34px;
  line-height: 1.4;
  position: relative;
}

.blob {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-30%, 50%);
  width: 250px;
  height: 250px;
  background-color: #333;
  background-image: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
  background-size: 1000% 1000%;
  animation: blob 20s linear infinite, blobColor 10s linear infinite;
  z-index: -1;
  filter: blur(50px);
  opacity: 0.08;
}

@keyframes blobColor {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes blob {
  0% {
    border-radius: 69% 30% 30% 70% / 60% 40% 60% 40%;
    transform: translate(-30%, 50%) rotate(0);
  }
  20% {
    border-radius: 30% 57% 31% 51% / 29% 61% 45% 61%;
    transform: translate(-30%, 50%) rotate(90deg);
  }
  40% {
    border-radius: 35% 70% 80% 39% / 93% 61% 45% 19%;
    transform: translate(-30%, 50%) rotate(180deg);
  }
  60% {
    border-radius: 61% 64% 50% 75% / 58% 84% 40% 77%;
    transform: translate(-30%, 50%) rotate(270deg);
  }
  80% {
    border-radius: 97% 38% 37% 28% / 90% 41% 87% 25%;
    transform: translate(-30%, 50%) rotate(360deg);
  }
  100% {
    border-radius: 69% 30% 30% 70% / 60% 40% 60% 40%;
    transform: translate(-30%, 50%) rotate(360deg);
  }
}

.title p {
  display: inline-block;
  background-color: #4158d0;
  background-image: radial-gradient(
    circle at bottom left,
    #ffcc70 0,
    #c850c0,
    #4158d0 100%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.title span i {
  font-style: italic;
}

.desc {
  color: #94a3b8;
  margin-top: 15px;
  line-height: 1.7;
}

@media (max-width: 500px) {
  .title {
    font-size: 28px;
  }

  .desc {
    font-size: 15px;
  }
}

@media (max-width: 350px) {
  .title {
    font-size: 25px;
  }

  .desc {
    font-size: 14px;
  }
}

.desc span {
  display: inline-block;
  margin: 0 5px;
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.orange {
  color: #fb923c;
}

.indigo {
  color: #818cf8;
}

.green {
  color: #4ade80;
}

.label {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 30px;
}

.socials {
  display: inline-flex;
  align-items: center;
  list-style: none;
  margin-top: 10px;
}

.socials li a {
  color: #94a3b8;
  font-size: 19px;
  transition: 0.3s;
}

.socials:hover li a {
  color: #64748b;
}

.socials li a:hover {
  color: #fefefe;
}

.socials li:not(:first-of-type) {
  margin-left: 15px;
}
