.wrapper {
  width: 100%;
  height: auto;
  min-height: calc(var(--vh) * 100);
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 0;
}

.title {
  font-family: var(--font-display);
  font-weight: 700;
  font-size: 34px;
  line-height: 1.4;
}

.title p {
  display: inline-block;
  background-color: #4158d0;
  background-image: radial-gradient(
    circle at bottom left,
    #ffcc70 0,
    #c850c0,
    #4158d0 100%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.title span i {
  font-style: italic;
}

.desc {
  color: #94a3b8;
  margin-top: 15px;
  line-height: 1.7;
  overflow: hidden;
  transition: color 0.3s;
}

.desc a {
  display: inline-block;
}

.desc:has(a:hover) {
  color: #64748b;
}

@media (max-width: 500px) {
  .title {
    font-size: 28px;
  }

  .desc {
    font-size: 15px;
  }
}

@media (max-width: 350px) {
  .title {
    font-size: 25px;
  }

  .desc {
    font-size: 14px;
  }
}

.desc span {
  display: inline-block;
  margin: 0 5px;
  animation: rotate 3s linear infinite;
  user-select: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.orange {
  color: #fb923c;
}

.indigo {
  color: #818cf8;
}

.green {
  color: #4ade80;
}

.pink {
  color: #ec4899;
}

.red {
  color: #f87171;
}

.label {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
  letter-spacing: 1px;
}

.label .shine {
  color: #fefefe;
  mask-image: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.7) 33%,
    #888 50%,
    rgba(0, 0, 0, 0.7) 66%
  );
  mask-size: 300%;
  -webkit-mask-image: linear-gradient(
    -45deg,
    #000 33%,
    rgba(0, 0, 0, 0.6) 50%,
    #000 66%
  );
  -webkit-mask-size: 300%;
  animation: shine 4s ease 2s infinite;
}

@keyframes shine {
  0% {
    -webkit-mask-position: 100%;
  }
  40%,
  100% {
    -webkit-mask-position: 0%;
  }
}

.socials {
  display: inline-flex;
  align-items: center;
  list-style: none;
  margin-top: 10px;
}

.socials li a {
  color: #94a3b8;
  font-size: 19px;
  transition: 0.3s;
  display: inline-block;
}

.socials:hover li a {
  color: #64748b;
}

.socials li a:hover {
  color: #fefefe;
  transform: scale(1.05) translateY(-3px);
}

.socials li:not(:first-of-type) {
  margin-left: 15px;
}

.callEmoji {
  display: inline-block;
  animation: emoji 3s ease 2s infinite;
  margin-left: 3px;
  user-select: none;
}

@keyframes emoji {
  0%,
  30%,
  100% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-30deg);
  }
  20% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-30deg);
  }
}

.moreLess {
  background-color: transparent;
  display: block;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fefefe;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 5px;
  overflow: hidden;
  color: #e2e8f0;
}
