.hero {
  padding: 120px 0 60px;

  & .name {
    font-family: var(--font-display);
    font-size: var(--font-xlg);

    & .muted {
      color: var(--color-foreground-subtler);
    }

    & sup {
      font-size: var(--font-md);
      color: var(--color-foreground-subtler);
    }
  }

  & .desc {
    margin-top: 8px;
    color: var(--color-foreground-subtle);
  }

  & .founder {
    margin-top: 6px;
    font-size: var(--font-sm);
    color: var(--color-foreground-subtle);

    & a {
      font-weight: 500;
      color: var(--color-foreground);
      text-decoration: none;
    }
  }
}
