.hero {
  padding: 120px 0 60px;

  & .logo {
    display: block;
    width: 44px;
    margin-bottom: 24px;
  }

  & .name {
    font-family: var(--font-display);
    font-size: var(--font-xlg);

    & .muted {
      color: var(--color-foreground-subtler);
    }

    & sup {
      font-size: var(--font-md);
      color: var(--color-foreground-subtler);
    }
  }

  & .desc {
    margin-top: 8px;
    color: var(--color-foreground-subtle);
  }

  & .founder {
    margin-top: 8px;
    font-size: var(--font-sm);
    color: var(--color-foreground-subtle);

    & a {
      font-weight: 500;
      color: var(--color-foreground);
      text-decoration: none;
    }
  }

  & .socials {
    display: flex;
    column-gap: 12px;
    align-items: center;
    margin-top: 24px;

    & a {
      color: var(--color-foreground-subtler);
      transition: 0.2s;

      &:hover {
        color: var(--color-foreground);
      }
    }
  }
}
