---
import { getCollection } from 'astro:content'; // eslint-disable-line
import alphaSort from 'alpha-sort';

import Layout from '@/layouts/layout.astro';
import { Container } from '@/components/container';
import Hero from '@/components/hero.astro';

const posts = await getCollection('blog');
const tags = [...new Set(posts.map(post => post.data.tags).flat())].sort(
  alphaSort(),
);
---

<Layout description="Explore posts by tag." title="Tags">
  <Container>
    <Hero
      backAddress="/"
      backLabel="Home"
      description="Explore posts by tags."
      title="Tags"
    />

    <section class="tags">
      {tags.map(tag => <a href={`/tags/${tag}`}>#{tag}</a>)}
    </section>
  </Container>
</Layout>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    & a {
      display: block;
      font-family: var(--font-mono);
      font-size: var(--font-sm);
      color: var(--color-foreground-subtle);
      text-decoration: none;
    }
  }
</style>
