---
import Layout from '@/layouts/layout.astro';
import { Container } from '@/components/container';
import BookmarksComponent from '@/components/bookmarks.astro';
import { bookmarks } from '@/data/bookmarks';
---

<Layout title="Bookmarks">
  <Container>
    <section class="hero">
      <h1>Bookmarks</h1>
      <p class="desc">Bookmarks from the web.</p>
      <a href="/">(Blog Posts)</a>
    </section>

    <BookmarksComponent bookmarks={bookmarks} />
  </Container>
</Layout>

<style>
  .hero {
    padding: 120px 0 40px;

    & h1 {
      margin-bottom: 4px;
      font-weight: 500;
    }

    & .desc {
      color: var(--color-foreground-subtle);
    }

    & a {
      display: block;
      margin-top: 16px;
      font-size: var(--font-xsm);
      font-weight: 500;
      color: var(--color-foreground-subtler);
      text-decoration: none;
    }
  }
</style>
