---
import { getCollection } from 'astro:content'; // eslint-disable-line

import Layout from '@/layouts/layout.astro';

const posts = await getCollection('blog');
---

<Layout>
  <h1>Hello World</h1>
  <ul>
    {posts.map(post => <li>{post.data.title}</li>)}
  </ul>
</Layout>
