---
import { getCollection } from 'astro:content'; // eslint-disable-line

import Layout from '@/layouts/layout.astro';
import { Container } from '@/components/container';

import Posts from '@/components/posts.astro';

const posts = await getCollection('blog');
const sortedPosts = posts.sort(
  (a, b) =>
    new Date(b.data.publishDate).getTime() -
    new Date(a.data.publishDate).getTime(),
);
const normalizedPosts = sortedPosts.map(post => ({
  date: post.data.publishDate,
  id: post.id,
  title: post.data.title,
}));
---

<Layout>
  <Container>
    <section class="hero">
      <h1>Maze Heart</h1>
      <p class="desc">Writing about programming.</p>
      <a href="/bookmarks">(Bookmarks)</a>
    </section>

    <Posts posts={normalizedPosts} />
  </Container>
</Layout>

<style>
  .hero {
    padding: 120px 0 40px;

    & h1 {
      margin-bottom: 4px;
      font-weight: 500;
    }

    & .desc {
      color: var(--color-foreground-subtle);
    }

    & a {
      display: block;
      margin-top: 16px;
      font-size: var(--font-xsm);
      font-weight: 500;
      color: var(--color-foreground-subtler);
      text-decoration: none;
    }
  }
</style>
