.header {
  position: fixed;
  top: 25px;
  left: 50%;
  width: 250px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  padding: 15px 20px;
  border-radius: 1000px;
  border: 1px solid #333;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 100;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.logo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  color: #e2e8f0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo span {
  display: block;
  letter-spacing: 0;
  line-height: 0;
}

.socials {
  display: inline-flex;
  align-items: center;
  list-style: none;
}

.socials li a {
  color: #94a3b8;
  font-size: 17px;
  transition: 0.3s;
  display: inline-block;
}

.socials:hover li a {
  color: #64748b;
}

.socials li a:hover {
  color: #fefefe;
  transform: scale(1.05);
}

.socials li:not(:first-of-type) {
  margin-left: 15px;
}
