---
import { Container } from './container';
---

<Container>
  <section class="hero">
    <h1 class="name">
      <span class="muted">re</span>Ma<sup>v</sup>ze Heart<span class="muted"
        >;</span
      >
    </h1>
    <p class="desc">Programming + Philosophy.</p>
    <p class="founder">
      Founder of <a
        href="https://philosophors.com/"
        rel="noreferrer"
        target="_blank">Philosophors</a
      >.
    </p>
  </section>
</Container>

<style>
  .hero {
    padding: 120px 0 60px;

    & .name {
      font-family: var(--font-display);
      font-size: var(--font-xlg);

      & .muted {
        color: var(--color-foreground-subtler);
      }

      & sup {
        font-size: var(--font-md);
        color: var(--color-foreground-subtler);
      }
    }

    & .desc {
      margin-top: 8px;
      color: var(--color-foreground-subtle);
    }

    & .founder {
      margin-top: 6px;
      font-size: var(--font-sm);
      color: var(--color-foreground-subtle);

      & a {
        font-weight: 500;
        color: var(--color-foreground);
        text-decoration: none;
      }
    }
  }
</style>
