---
interface Props {
  backAddress: string;
  backLabel: string;
  description: string;
  title: string;
}

const { backAddress, backLabel, description, title } = Astro.props;
---

<section class="hero">
  <a class="back" href={backAddress}>~ {backLabel}</a>
  <h1 class="title">{title}</h1>
  <p class="description">{description}</p>
</section>

<style>
  .hero {
    padding: 120px 0 40px;

    & .title {
      margin-bottom: 4px;
      font-family: var(--font-serif);
      font-size: var(--font-lg);
      font-weight: 500;
    }

    & .description {
      color: var(--color-foreground-subtle);
    }

    & .back {
      display: block;
      margin-bottom: 16px;
      font-family: var(--font-mono);
      font-size: var(--font-xsm);
      font-weight: 500;
      color: var(--color-foreground-subtler);
      text-decoration: underline;
      text-decoration-style: dotted;
      text-decoration-color: var(--color-foreground-subtler);
      text-transform: uppercase;
    }
  }
</style>
