---
import { Container } from './container';

const websites = [
  {
    title: 'Productivity',
    websites: [
      {
        name: 'Moodist',
        sub: 'moodist',
        url: 'https://moodist.mvze.net',
      },
      {
        name: 'Calmness',
        sub: 'calmness',
        url: 'https://calmness.mvze.net',
      },
      {
        name: 'Timesy',
        sub: 'timesy',
        url: 'https://timesy.mvze.net',
      },
    ],
  },
  {
    title: 'Experiments',
    websites: [
      {
        name: 'Progress',
        sub: 'progress',
        url: 'https://progress.mvze.net',
      },
      {
        name: 'Nothing',
        sub: 'nothing',
        url: 'https://nothing.mvze.net',
      },
      {
        name: 'Omniscale',
        sub: 'omniscale',
        url: 'https://omniscale.mvze.net',
      },
    ],
  },
  {
    title: 'Other Tools',
    websites: [
      {
        name: 'Converto',
        sub: 'converto',
        url: 'https://converto.mvze.net',
      },
    ],
  },
];
---

<Container>
  <section class="websites">
    {
      websites.map(website => (
        <section>
          <h2>
            {website.title}
            <span>:</span>
          </h2>

          <div class="websitesWrapper">
            {website.websites.map(website => (
              <div class="website">
                <a href={website.url}>{website.name}</a>
                <div class="divider" />
                <p>
                  <span>{website.sub}</span>.mvze.net
                </p>
              </div>
            ))}
          </div>
        </section>
      ))
    }
  </section>
</Container>

<style>
  .websites {
    padding: 0 0 100px;

    & section {
      &:not(:last-of-type) {
        margin-bottom: 40px;
      }

      & h2 {
        margin-bottom: 12px;
        font-family: var(--font-display);
        font-size: var(--font-lg);

        & span {
          color: var(--color-foreground-subtler);
        }
      }

      .websitesWrapper {
        & .website {
          display: flex;
          column-gap: 12px;
          align-items: center;

          &:not(:last-of-type) {
            margin-bottom: 8px;
          }

          & a {
            font-size: var(--font-sm);
            font-weight: 500;
            color: var(--color-foreground);
            text-decoration: none;
          }

          & .divider {
            flex-grow: 1;
            height: 1px;
            background-color: var(--color-neutral-200);
          }

          & p {
            font-family: var(--font-mono);
            font-size: var(--font-sm);
            color: var(--color-foreground-subtler);

            & span {
              color: var(--color-foreground-subtle);
            }
          }
        }
      }
    }
  }
</style>
